In [3]:
import pandas as pd
df = pd.concat( [ pd.read_csv(f"data_collected_{i}.csv") for i in ["red","blue"] ] )
df.head()

   click  visit    group
0      0      1  control
1      1      1  control
2      0      1  control
3      1      1  control
4      0      1  control

In [20]:
df1 = df.copy()
df1 = df1.reset_index().rename( columns={'index':'day'} )
df1 = df1.pivot_table( index='day', columns='group', values=['visit','click'], aggfunc='sum')
df1.columns = ["_".join(i) for i in df1.columns]
df1.head()

     click_control  click_treatment  visit_control  visit_treatment
day
0              0.0              NaN            2.0              NaN
1              2.0              NaN            2.0              NaN
2              0.0              NaN            2.0              NaN
3              2.0              NaN            2.0              NaN
4              0.0              NaN            2.0              NaN